.popup-body{
    border: 1px solid red;
    width: 300px;
    max-width: 80%;
    padding: 40px 30px;
    margin: 20%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    transform: translate(-50,-50);
}

#button1{
    margin: 5px;
}
#button2{
    margin: 5px;
}