.main-header{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    line-height: 40px;
    font-size: 40px;
    color: #ffffff;
    padding: 0;
    
}
body{
    margin: 10%;
    background-color: rgba(0,0,0,1);
}
#Icon-function{
    font-size: 2rem;
    cursor: pointer;
}

#btn{
    outline: none;
    background:none;
    border:  none;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

.popup{
    position: fixed;
    align-items: center;
    border: 1px solid #ffa500;
    top: 0;
    left: 0;
    transform: translate(-50,-50);
}