.main-header{
    display: flex;
    justify-content: space-between;
    line-height: 10px;
    font-size: 20px;
    color: #ffffff;
    padding: 0;
    
}
.activ{
    filter: blur(15px);
}
body{
    margin: 10%;
    background-color: rgba(0,0,0,1);
}
#Icon-function{
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; font-weight: 200;
}

#btn{
    outline: none;
    background:none;
    border:  none;
    /* height: 30px; */
    width: 50px;
    cursor: pointer;
}
.list{
    font-weight: 100;
    
}
.task{
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.popup-body{
    background-color: #ffffff;
    text-align: center;
    /* opacity: 0; */
    border-radius: 8px;
    border: 1px solid red;
    width: 400px;
    max-width: 80%;
    padding: 40px 30px;
    font-size: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    align-items: center;
    align-content: center;
    transform: translate(-50%,-50%);
    z-index: 10;
    transition: 300ms ease-in-out;
    display: none;
}
.popup-body.active{
    /* opacity: 1; */
    display: block;
}
#text-input{
    width: 300px;
    border: 1px solid red;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px .2px;
    margin-top: 10px;
}

.btn.add{
    cursor: pointer;
    margin: 5px;
    font-size: 35px;
    padding-left: 8%;
    padding-right: 8%;
    letter-spacing: 1px;
    font-weight: 100;
    color: #ffffff;
    background-color: rgb(252, 42, 84);
    margin: 15px;
    border-radius: 25px;
}
.btn.close{
    cursor: pointer;
    margin: 5px;
    font-size: 35px;
    padding-left: 5%;
    padding-right: 5%;
    letter-spacing: 1px;
    font-weight: 100;
    color: #ffffff;
    background-color: rgb(252, 42, 84);
    margin: 15px;
    border-radius: 25px;
}

.Main-container{
    text-align: center;
    display: grid;
    /* opacity: 1; */
    display: block;
}
.Main-container.active{
    /* opacity: 1; */
    display: block;
}

.Header{
    display: flex;
    justify-content: space-between;
    font-size: 3.5rem;
    margin-bottom: 10%;
    letter-spacing: 1px;
    
    

}

.text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}

.Icon{
    margin-left: 20px;
}

.text{
    margin-right: 40px;
}
.head{
    color: black;
    font-size: 2rem;
    color: rgb(252, 42, 84);
    font-weight: 100;
}

.card{
    border: 2px solid rgb(252, 42, 84);
    border-radius: 10px;
    height: 400px;
    /* box-shadow: 5px 6px 15px #888888; */
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-70%, -30%);
    z-index: 10;
    width: 260px;
    background-color: #ffffff;
    display: none;
    
    
}
.card.act {
    display: block;
}
.hr{
    padding-left: 53px;
    margin-bottom: 20px;
}
.h2{
    padding-right: 62px;

}

.check{
    margin-top: 20px;
    padding-right: 30px;
    font-size: 30px;
    line-height: 44px;
}

.icon2{
    position: absolute;
    bottom: 20px;
    right: 25px;
}
#btn-class-add{
    outline: none;
    background:none;
    border:  none;
    cursor: pointer;
}
#btn-class-del{
    border:  none;
    background:red;
    /* border-radius: 50%; */
    border-radius: 45%;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.markdone{
    font-size: 1.4rem;
    font-weight: bolder;
    margin-left: 10px;
}
.markDone{
    border-radius: 8px;
    color: #ffffff;
    background-color: blue;
    cursor: pointer;
}
.strike{
    text-decoration: line-through;
    color: rgb(252, 42, 84);;
}
#text-input1{
    width: 300px;
    border: 1px solid red;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px .2px;
    margin-top: 10px;
}